div.title-container {
  text-align: center;
  padding: 3rem;
  margin: 3rem;
  font-size: 30px;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #9fe2e2;
  z-index: 30;
}
.link {
  display: flex;
  text-align: flex-end;
  right: 0%;
  top: 0px;
}

.link2 {
  position: fixed;
  right: 12%;
  top: 49px;
  font-family: YuMincho;
  font-style: normal;
  font-size: 17px;
  color: #000000;
}

.link1 {
  position: fixed;
  right: 18%;
  top: 49px;
  font-family: YuMincho;
  font-style: normal;
  font-size: 17px;
  color: #000000;
}

.link3 {
  position: fixed;
  right: 5%;
  top: 49px;
  font-family: YuMincho;
  font-style: normal;
  font-size: 17px;
  color: #000000;
}

.Portfolio {
  position: fixed;
  width: 157px;
  height: 48px;
  left: 8%;
  top: 12px;
  font-family: YuMincho;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  color: #f3ededd9;
}

.profile {
  width: 100%;
  height: 100vh;
  background-color: rgb(208, 217, 165);
}

.triangle {
  border-right: 789px solid transparent;
  border-bottom: 789px solid #d7ea9a;
  position: absolute;
  left: 0%;
  top: 0%;
}

div.profile-container {
  font-size: 30px;
  font-family: YuMincho;
  font-style: normal;
  position: absolute;
  left: 10%;
  top: 15%;
  margin: 3rem;
  padding: 3rem;
}

.title {
  font-size: 50px;
  font-family: YuMincho;
}
.photo {
  position: absolute;
  width: 10cm;
  height: 13cm;
  right: 10%;
  top: 20%;
  object-fit: cover;
  z-index: 10;
  border-radius: 5%;
}

.gakkashoukai {
  width: 100%;
  top: 110%;
  height: 100vh;
  background-color: #8bbcb7d9;
  font-family: YuMincho;
}

.circle {
  position: absolute;
  top: 88%;
  left: -13%;
  display: inline-block;
  width: 10cm;
  height: 10cm;
  text-align: center;
  border-radius: 50%;
  border: solid 5px rgb(184, 218, 231);
}

.circle1 {
  position: absolute;
  top: 172%;
  right: -13%;
  display: inline-block;
  width: 10cm;
  height: 10cm;
  text-align: center;
  border-radius: 50%;
  border: solid 5px rgb(184, 218, 231);
}
.border {
  position: absolute;
  top: 113%;
  left: 5%;
  border: 4px solid #ece4e4;
  width: 90%;
  height: 80%;
}

div.content2-container {
  position: absolute;
  right: 14%;
  top: 125%;
  text-align: center;
  font-size: 40px;
}

div.content3-container {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  padding: 3rem;
  margin: 3rem;
  font-family: YuMincho;
  font-style: normal;
}

div.content31-container {
  position: absolute;
  right: -3%;
  top: 130%;
}

.image {
  position: absolute;
  top: 135%;
  left: 5%;
  width: 40%;
  height: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/picture/gakka.png);
}

div.content4-container {
  display: flex;
  justify-content: flex-start;
  padding: 3rem;
  margin: 3rem;
}

.sukinakoto {
  position: absolute;
  background-color: rgba(37, 39, 35, 0.144);
  width: 100%;
  height: 100vh;
}

.title1 {
  text-align: center;
  margin-top: 85px;
  font-family: YuMincho;
  font-style: normal;
  font-size: 32px;
}

.javascript {
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  font-family: YuMincho;
  top: 22%;
  left: 24%;
}

.a {
  margin: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 22%;
}

.oo {
  margin-top: 3%;
  width: 500px;
  height: 300px;
  object-fit: cover;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.a1 {
  margin: 1rem;
  display: flex;
  width: 100%;
  position: absolute;
  top: 82%;
  left: 20%;
}

.a2 {
  position: absolute;
  top: 71%;
  right: 29%;
}

.a3 {
  width: 30px;
  height: 30px;
}

.a4 {
  width: 110px;
  height: 40px;
}

.sukinakoto-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 71.5%;
  left: 0%;
  font-size: 20px;
  font-family: YuMincho;
}

.button1 {
  position: absolute;
  left: 66%;
  top: 62%;
  font-size: 50px;
  color: #090606;
}
.button2 {
  position: absolute;
  left: 70%;
  top: 62%;
  font-size: 50px;
  color: #090606;
}
.button3 {
  position: absolute;
  left: 74%;
  top: 62%;
  font-size: 50px;
  color: #090606;
}
.button4 {
  position: absolute;
  left: 78%;
  top: 62%;
  font-size: 50px;
  color: #090606;
}
.button5 {
  position: absolute;
  left: 82%;
  top: 62%;
  font-size: 50px;
  color: #090606;
}

.yakyuu {
  position: absolute;
  top: 70%;
  left: 10%;
  font-size: 20px;
  font-family: YuMincho;
}
